#headerLogo {
    display: inline-block;
    width: 200px;
    height: 60px;
}

#csvLogo {
    /*display: inline-block;*/
    width: 50px;
    height: 50px;
}

.container {
    margin-top: 40px;
}

.login h3, .help h3 {
    margin-bottom: 40px;
}

.login #sessionTime {
    margin-top: 40px;
}

.login .go-home {
    margin-left: 40px;
}